/* NAVBAR CSS */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/leaves.jpg");
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

nav {
  background: #355A3A;
  opacity: 1;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  float: left;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: #2D4D32;
  box-shadow: 0 0 5px #1E3321;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #26402A;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
  }

  a:hover, a.active{
    background: none;
    color: white;
    background-color: #2D4D32;
    box-shadow: 0 0 5px #1E3321;
  }

  #check:checked ~ ul{
    left: 0;
  }
}

/* POSITIONING THE CARDS */

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-40%);
  height: 430px;
  width: 400px;
  text-align: center;
  border-radius: 5px;
}

.left {
  left: 15%;
}

.right {
  left: 55%;
}

.front-face, .back-face{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #CCE0CF;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.8s ease-in-out; 
} 

.cover{
  background: linear-gradient(75deg, #355A3A, #2D4D32);
  height: 115px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.profile{
  height: 115px;
  width: 115px;
  border-radius: 50%;
  padding: 5px;
  background: white;
  margin-top: 40px;
}

.name{
  font-family: "Raleway", sans-serif;
  color:#2D4D32;
  font-size: 30px;
  padding-top: 75px;
  font-weight: bold;
}

.tag{
  padding: 5px 0;
  color:#0d0d0d;
  font-weight: bold;
}

.about{
  margin-top: 10px;
  padding: 0px 35px;
  font-size: 15px;
  color:#0d0d0d;
  text-align: center;
}

h1{
  font-family: "Raleway", sans-serif;
  padding-top: 75px;
  color: #0d0d0d;
  text-align: center;
}

p{
  padding: 20px;
  color: #262626;
  text-align: center;
}

i{
  font-size: 30px;
  padding-left: 20px;
  cursor: pointer;

}

.back-face{
  transform: perspective(800px) rotateY(-180deg)
}

.front-face{
  transform: perspective(800px) rotateY(0deg)
}

.container:hover > .back-face{
  transform: perspective(800px) rotateY(0deg)
}

.container:hover > .front-face{
  transform: perspective(800px) rotateY(180deg)
}

@media (max-width: 858px) {
  .container {
    width: 90%;
    max-width: none;
    margin: 20px auto;
  }
}
